.container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100%;
  overflow: hidden;
  gap: var(--spacing);
  padding-left: var(--spacing);
  border-left: 1px solid var(--border-color);
}
