*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --spacing: 20px;
  --color: #f8f9fa;
  --dimmed: #868e96;
  --border-color: #3b3b3b;
  --background-color: #141414;
  --foreground-color: #242424;
  --primary: #fcc2d7;
  --radius: 6px;
}

body {
  margin: 0;
  background-color: var(--background-color);
  color: var(--color);
}

kbd {
  font-weight: 700;
  border-radius: var(--radius);
  border: 1px solid var(--border-color);
  border-bottom-width: 3px;
  text-align: center;
  padding: 3px 10px;
  background-color: var(--foreground-color);
}

input {
  border-radius: var(--radius);
  border: 1px solid var(--border-color);
  background-color: var(--foreground-color);
  color: var(--color);
  padding: 6px 12px;

  &::placeholder {
    color: var(--dimmed);
  }

  &:focus {
    outline: none;
    border-color: var(--primary);
  }
}

button {
  cursor: pointer;
  border-radius: var(--radius);
  border: 1px solid var(--border-color);
  background-color: var(--foreground-color);
  color: var(--color);
  padding: 6px 12px;

  &:hover {
    background-color: var(--background-color);
  }

  &:active {
    transform: translateY(2px);
  }
}

.centered {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  gap: var(--spacing);
}

.loader {
  width: 48px;
  height: 48px;
  border: 3px dotted var(--color);
  border-style: solid solid dotted dotted;
  border-radius: 50%;
  display: inline-block;
  animation: rotation 2s linear infinite;
}

.loader::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border: 3px dotted var(--primary);
  border-style: solid solid dotted;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  animation: rotationBack 1s linear infinite;
  transform-origin: center center;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotationBack {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
